<div class="footer">

<footer class="footer footText">
  <div class="">


  <em>&copy2022 - OfTechAndGaming</em>
  <br></div>

</footer>
</div>
<script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"47a7f4474d6ecd3a56e7c1f90e8bd881"})});</script>

</body>


</html>
