<%- include("partials/header") -%>
<title>Team | Starbound</title>
<%- include("partials/navbar") -%>
</div>

<div class="content">
  <section id="Clients" class="container-lg">

    <br><br>

  <!-- Title -->
    <h2>STARBOUND</h2>
    <p>Starbound is participating in a charity event ran by March on dimes to help with Prematurity Awareness Month. </p>
    <p>The people that are participating in this event are:</p>
    <hr> <br>

<!-- Row 1 Start -->
    <div class="row">
      <!-- Cozo start -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><img class="img-fluid" src="pfp\cozo.png" alt="Cozo"> <br><b> Cozo</b> </h3>
            <p class="card-text"></p>
            <p><u>Team Lead</u></p>
            <br>
            <a href="https://www.twitch.tv/cozo" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
          </div>
        </div>
      </div>
      <!-- Cozo End -->
      <!-- Haileyelizr start -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><img class="img-fluid" src="pfp\hailey.png" alt="Hailey"><br><b> Haileyelizr </b></h3>
            <p class="card-text"></p>
            <p><u></u></p>
            <br>
            <a href="https://www.twitch.tv/Haileyelizr" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
            <a href="https://tiltify.com/@haileyelizr/haileyelizr-starbound" target="_blank" class="btn btn-outline-light btn-lg btn-block">Tiltify</a><br><br>
          </div>
        </div>
      </div>
      <!-- Haileyelizr End -->
      <!-- MrStylson start -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><img class="img-fluid" src="pfp\MrStylson.jpg" alt="MrStylson"><br><b> MrStylson </b></h3>
            <p class="card-text"></p>
            <p><u><br></u></p>
            <br>
            <a href="https://www.twitch.tv/MrStylson" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
          </div>
        </div>
      </div>
      <!-- MrStylson End -->
      <br> <br>
    </div>
    <!-- Row 1 End -->

    <br>

    <!-- Row 2 Start -->
        <div class="row">
          <!-- Artie start -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><img class="img-fluid" src="pfp\Artie.png" alt="Artie"><br> <b> Artie</b> </h3>
                <p class="card-text"></p>
                <p><u><br></u></p>
                <br>
                <a href="https://www.twitch.tv/Artie" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
              </div>
            </div>
          </div>
          <!-- Artie End -->
          <!-- Pandameinium start -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><img class="img-fluid" src="pfp\Pandameinium.png" alt="Pandameinium"><br><b> Pandameinium </b></h3>
                <p class="card-text"></p>
                <p><u><br></u></p>
                <br>
                <a href="https://www.twitch.tv/Pandameinium" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
              </div>
            </div>
          </div>
          <!-- Pandameinium End -->
          <!-- Dammsammy start -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><img class="img-fluid" src="pfp\Dammsammy.png" alt="Dammsammy"><br><b> Dammsammy </b></h3>
                <p class="card-text"></p>
                <p><u><br></u></p>
                <br>
                <a href="https://www.twitch.tv/Dammsammy" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
              </div>
            </div>
          </div>
          <!-- Dammsammy End -->
          <br> <br>
        </div>
        <!-- Row 2 End -->

        <br>

        <!-- Row 3 Start -->
            <div class="row">
              <!-- Reigndeer5 start -->
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title"><img class="img-fluid" src="pfp\Reigndeer5.png" alt="Reigndeer5"><br> <b> Reigndeer5</b> </h3>
                    <p class="card-text"></p>
                    <p><u><br></u></p>
                    <br>
                    <a href="https://www.twitch.tv/Reigndeer5" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                  </div>
                </div>
              </div>
              <!-- Reigndeer5 End -->
              <!-- Elmoroccaittv start -->
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title"><img class="img-fluid" src="pfp\Elmoroccaittv.png" alt="Elmoroccaittv"><br><b> Elmoroccaittv </b></h3>
                    <p class="card-text"></p>
                    <p><u><br></u></p>
                    <br>
                    <a href="https://www.twitch.tv/Elmoroccaittv" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                  </div>
                </div>
              </div>
              <!-- Elmoroccaittv End -->
              <!-- SissyThatGame start -->
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title"><img class="img-fluid" src="pfp\sissythatgame.png" alt="SissyThatGame"><br><b> SissyThatGame </b></h3>
                    <p class="card-text"></p>
                    <p><u><br></u></p>
                    <br>
                    <a href="https://www.twitch.tv/SissyThatGame" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                  </div>
                </div>
              </div>
              <!-- SissyThatGame End -->
              <br> <br>
            </div>
            <!-- Row 3 End -->

            <br>

            <!-- Row 4 Start -->
                <div class="row">
                  <!-- Gastropascoe start -->
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title"><img class="img-fluid" src="pfp\Gastropascoe.png" alt="Reigndeer5"><br> <b> Gastropascoe</b> </h3>
                        <p class="card-text"></p>
                        <p><u><br></u></p>
                        <br>
                        <a href="https://www.twitch.tv/Gastropascoe" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                      </div>
                    </div>
                  </div>
                  <!-- Gastropascoe End -->
                  <!-- Stanleywav start -->
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title"><img class="img-fluid" src="pfp\Stanleywav.png" alt="Stanleywav"><br><b> Stanleywav </b></h3>
                        <p class="card-text"></p>
                        <p><u><br></u></p>
                        <br>
                        <a href="https://www.twitch.tv/Stanleywav" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                      </div>
                    </div>
                  </div>
                  <!-- Stanleywav End -->
                  <!-- Stevefrenchtv start -->
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title"><img class="img-fluid" src="pfp\Stevefrenchtv.png" alt="Stevefrenchtv"><br><b> Stevefrenchtv </b></h3>
                        <p class="card-text"></p>
                        <p><u><br></u></p>
                        <br>
                        <a href="https://www.twitch.tv/Stevefrenchtv" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                      </div>
                    </div>
                  </div>
                  <!-- Stevefrenchtv End -->
                  <br> <br>
                </div>
                <!-- Row 4 End -->
                <br>

                <!-- Row 5 Start -->
                    <div class="row">
                      <!-- Iconichustlers start -->
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title"><img class="img-fluid" src="pfp\Iconichustlers.png" alt="Iconichustlers"><br> <b> Iconichustlers</b> </h3>
                            <p class="card-text"></p>
                            <p><u><br></u></p>
                            <br>
                            <a href="https://www.twitch.tv/Iconichustlers" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                          </div>
                        </div>
                      </div>
                      <!-- Iconichustlers End -->
                      <!-- Sw33ts_ start -->
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title"><img class="img-fluid" src="pfp\Sw33ts_.png" alt="Sw33ts_"><br><b> Sw33ts_ </b></h3>
                            <p class="card-text"></p>
                            <p><u><br></u></p>
                            <br>
                            <a href="https://www.twitch.tv/Sw33ts_" target="_blank" class="btn btn-outline-light btn-lg btn-block">Twitch</a><br><br>
                          </div>
                        </div>
                      </div>
                      <!-- Sw33ts_ End -->

                      <br> <br>
                    </div>
                    <!-- Row 5 End -->
    <hr>
    <br>

  </section>

  <!-- <script src="js/streamers.js" charset="utf-8"></script> -->
</div>


<%- include("partials/footer") -%>
